*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 

}
header{
    background-color: #fff8f3;
    padding-top: 25px;
}
.btn{

    background-color: orange;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor:  pointer;
}
nav{
    width:71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
        font-size: 40px;
        color: rgb(0, 0, 0);
        font-weight: 900;
    }
.orange{
    color: orange;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;

}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;

}

#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
   margin: 46px 38px 0 230px;


}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}
#banner .banner-content h1{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #181818;
 
}
#banner P{
    font-size: 19px;
    color: #757575;
    margin-bottom: 20px;
    line-height: 30px ;

}
#banner .banner-content{
 
 max-width: 600px;
}
header{
    background: url("../images/developer.png"),url("../images/header_bg.png"),#fff8f3;
    background-repeat: no-repeat;
    background-position: left,bottom right;
    
    
}
#banner .banner-image img{
    vertical-align: middle;
}
#about{
    text-align: center;
    padding-top: 130px;
}
#about {
    padding: 131px 157px 163px 156px;
    background-color: #fff8f3;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
   


}
#about .about-info-card{
    display: flex;
    justify-content: space-around;
    max-width: 782px;


}
.section-header{
    margin: 0 auto;
    max-width: 827px;
    text-align: center;
  
}
.section-header h2{
    font-size: 35px;
    color: #181818;

}
.section-header P{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-top: 30px;
    

}
#about .about-info-card h4,p{
    font-size: 20px;
}
#skills,#resume{
    padding-top: 130px;
}
.skills-container{
    max-width: 1140px;
    width: 71%;
    margin: 0 auto;
}
.skill-box{
    display: flex;
    gap: 30px;
    padding-top: 50px;
}
.skill-box .skill-card{
    padding: 30px;
    max-width: 267px;

     box-shadow: 0 6px 50px 0 #00000033;
}
.skill-card img{
max-width: 44px;
margin-bottom: 30px;

}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    color: #757575;}
    .resume-container{
    
        max-width: 1140px;
        width: 71%;
        margin: 113px auto 0;
       display: flex;
       gap: 24px;
    }

.resume-container .section-title{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
.resume-card{
    
    margin-right: 71px;
}
.card-title{
    margin-bottom: 10px;
    font-size: 25px;
    color: #474747;
}
.card-info{
    font-weight: 600;
    margin-bottom: 20px;
}
.card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}
hr{
    margin: 30px 0;
}
.btn1{
    background-color: orange;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor:  pointer;
}
.center{
text-align: center;
}