*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 

}
header{
    background-color: #fff8f3;
    padding-top: 25px;
}
.btn{

    background-color: orange;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor:  ;
}
nav{
    width:71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
        font-size: 40px;
        color: rgb(0, 0, 0);
        font-weight: 900;
    }
.orange{
    color: orange;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;

}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;

}

#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1332px;
   margin: 46px 38px 0 230px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}
#banner .banner-content h1{
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #181818;
 
}
#banner P{
    font-size: 19px;
    color: #757575;
    margin-bottom: 20px;
    line-height: 30px ;

}
#banner .banner-content{
 
 max-width: 600px;

}
header{
    background: url("../images/developer.png"),url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    margin-top: 10px;
    
    
}